<section id="app1">
  <div class="row-fluid">
    <div class="span12" >
      <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#app" data-toggle="tab">App</a></li>
        <li ><a href="#source" data-toggle="tab">Source code</a></li>
        <li><a href="#task_data" data-toggle="tab">Task data</a></li>
        <li><a href="#answer_data" data-toggle="tab">Answer Data</a></li>
      </ul>
      <div class="tab-content" style="text-align: left;">
        <div class="tab-pane active" id="app">

            <iframe allowtransparency="true" frameborder="0" scrolling="no"
                    style="border:1px solid #888; width:400px;height: 131px;"
                    src="http://microapp.io/apps/29"></iframe>
          <p>Remove your advertising and add this banner to your website to support my action via the
            contribution of your visitors: Creating esthetic / perceptual maps of city<br/>
          </p>

        </div>
        <div class="tab-pane" id="source">

          <script src="https://gist.github.com/3070564.js"></script>
        </div>
        <div class="tab-pane" id="task_data">
          <p>Here are a sample of the google fusion table containing the tasks data to process by the users</p>

          <iframe width="100%" height="400" scrolling="yes" frameborder="no"
                  src="https://www.google.com/fusiontables/embedviz?viz=GVIZ&amp;t=TABLE&amp;containerId=gviz_canvas&amp;q=select+col0%2C+col1%2C+col2%2C+col3+from+1D6a8PwSYIc_OrNnrHXMIpluGZ1n1Ely_t0oMxlc+order+by+col0+asc"></iframe>
        </div>
        <div class="tab-pane" id="answer_data">
          <iframe width="100%" height="400" scrolling="yes" frameborder="no"
                  src="https://www.google.com/fusiontables/embedviz?viz=GVIZ&amp;t=TABLE&amp;containerId=gviz_canvas&amp;q=select+col0%2C+col1%2C+col2%2C+col3+from+1D6a8PwSYIc_OrNnrHXMIpluGZ1n1Ely_t0oMxlc+order+by+col0+asc"></iframe>

        </div>
      </div>
    </div>
  </div>
</section>