<section  id="app1">
  <div class="row">
    <div style="margin:auto;width:700px">
      <p>Advertising in an economy of comsumption vs. in an economy of contribution. Remove your advertising to buy products and add this banner to your website to support an artistic initiative (building esthetic/perceptual map of a city) via the contribution of your own visitors 
   
      <textarea style="width:100%">  <iframe frameborder="0" scrolling="no" style="border:1px solid #888; width:400px;height: 131px;" src="http://microapp.io/apps/29"></iframe></textarea>
      This will produce the below app
                       </p>
            <iframe frameborder="0" scrolling="no"
                    style="border:1px solid #888; width:400px;height: 131px;"
                    src="http://microapp.io/apps/29"></iframe>
      <% @app = App.find(29) if Rails.env == "production" %>
      <%= render "shared/menu.html" %>
    </div>
  </div>
</section>