<div class="container">
    <div class="row">
        <div class="masthead">
            <h1>Mechanical Mapping
                <br/>
                <small>Platform for organizing volunteers in remote mapping-related activities using a micro-task driven
                    approach.
                </small>
            </h1>

        </div>
    </div>

    <div class="row">
        <div class="span6">
            <img style="height:300px" src="http://mechanicalmapping.heroku.com/images/assembly-line2.jpg"/>
        </div>
        <div class="span5">
            <img style="height:300px" src="http://alexandrasandberg.files.wordpress.com/2011/01/old_map.jpg"/>
        </div>
    </div>

    <div class="row">
        <div class="span12 masthead" style="text-align:center">
            <p>
                <a href="/apps/new" class="btn btn-primary btn-large">Create your project</a>
                <a href="/apps" class="btn  btn-large">Contribute to a project</a>
            </p>

            No need to deploy a server or a database to create your own micro-task platform.<br/>
            Create or remix existing <a href="#">micro-Task template</a> code (html/javascript) and launch your project
            that you can embed on your own web page.
        </div>
    </div>
</div>