<% @header = capture do %>
    <%= form_for(@app, :url => {:action => "editor_update"}, :html => {:id => "form_app"}, :remote => true) do |f| %>
    <input type="hidden" name="app[script]" id="app_script" value=""/>
    <button class="btn btn-primary" data-disable-with="Saving..."
            name="relevant"
            <% if @app.user!=current_user %> disabled="true"
            <% end %>>Update code
    </button>
    <% end %>
<% end %>

<% content_for :header, @header %>

  <style type="text/css" media="screen">


      body {

      }

      #editor {
          margin: 0;
          top: 40px;
          bottom: 0;
          left: 0;
          right: 0;
      }
  </style>




    <div id="editor"><%= @app.script %></div>


<%= javascript_include_tag "application" %>
<!--<script  src="/assets/ace/ace-noconflict.js" type="text/javascript" charset="utf-8"></script>-->

<script src="/assets/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/ace/theme-chrome.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/ace/mode-html.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    // Global variables
    var editor;


    // Register an event listener to fire when the page finishes loading.
    $(function () {
        $("#form_app").submit(function () {
            var text = editor.getSession().getValue();

            $("#app_script").val(text);
            return true;

        });
        editor = ace.edit("editor");
        editor.setTheme("ace/theme/chrome");
        var Mode = require("ace/mode/html").Mode;
        editor.getSession().setMode(new Mode());
        // editor.getSession().setMode("ace/mode/html");

    });
</script>


