<% app_header = capture do %>
<ul class="nav">
	<li> <a href="/apps">Explore apps</a></li>
	<li class="active"><%= link_to @app.name[0..20], app_path(@app) %></li>
</ul>
<% end %>
<% content_for :menu_header, app_header %>

<%= render 'form2' %>