<% app_header = capture do %>
	<li> <a href="/apps">apps</a></li>
	<li class="active"><%= link_to @app.name[0..20], app_path(@app) %></li>
<% end %>
<% content_for :app_header, app_header %>

<%= render 'form' %>