<div class="container">
<div class="row">
<div class="span6">
<h1>Applications</h1>

<table class="table table-striped">
<thead>  
<tr>
    <th>Name</th>    
    <th>Status</th>
  </tr>
</thead>
<tbody>
<% @apps.each do |app| %>
  <tr>
    <td><%= link_to app.name, app_path(app) %></td>
    <td><%= link_to 'Destroy', app, confirm: 'Are you sure?', :remote=>true, method: :delete, :class=>"btn btn-mini btn-danger" %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Project', new_app_path, :class=>"btn  "  %>
</div>
</div>
</div>
