<% @app_header = capture do %>
    <li class="active"><a href="#">create a new app</a></li>
    <a class="btn btn-primary" id="save">create</a>
    <a data-toggle="modal" href="#tutorial" class="btn">tutorial</a>
<% end %>
<% content_for :app_header, @app_header %>
<%= render 'form' %>