// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map{height:350px;}
@import "bootstrap";

body { padding-top: 60px; }

#map img { max-width: none; }
#map object { max-width: none; }
#map embed { max-width: none; }
