<!DOCTYPE html>
<html>
<head>
  <title>Mechanical Map</title>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "home", :media => "all" %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <style type="text/css">
          /* Marketing section of Overview
         -------------------------------------------------- */
      .marketing .row {
          margin-bottom: 9px;
      }

      .marketing h1 {
          margin: 36px 0 27px;
          font-size: 40px;
          font-weight: 300;
          text-align: center;
      }

      .marketing h2,
      .marketing h3 {
          font-weight: 300;
      }

      .marketing h2 {
          font-size: 22px;
      }

      .marketing p {
          margin-right: 10px;
      }

      .marketing .bs-icon {
          float: left;
          margin: 7px 10px 0 0;
          opacity: .8;
      }

      .marketing .small-bs-icon {
          float: left;
          margin: 4px 5px 0 0;
      }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
